.TopBar {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;

  .container {
    flex-basis: 33%;
    display: flex;
  }

  .top-left {
    justify-content: flex-start;
    align-items: center;
  }

  .username {
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
  }

  .countdown {
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;

    & * {
      width: 50px;
    }
  }

  .strong-heart {
    fill: red;
    position: relative;
    top: 2px;
    width: 35px;
    animation: strong-pulse 1s ease infinite;
  }

  .weak-heart {
    fill: red;
    position: relative;
    top: 2px;
    width: 35px;
    animation: weak-pulse 1s ease infinite;
  }

  .dead-heart {
    fill: black;
    position: relative;
    top: 2px;
    width: 35px;
  }

  @keyframes strong-pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
  }

  @keyframes weak-pulse {
    0% { transform: scale(0.5); }
    50% { transform: scale(0.7); }
    100% { transform: scale(0.5); }
  }

  .Link.xsmall {
    color: grey;
  }

  .ButtonV2 {
    font-size: 30px;
    margin-left: 10px;
  }
}
