.TopBar {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;

  .container {
    flex-basis: 33%;
    display: flex;
  }

  .top-left {
    justify-content: flex-start;
    align-items: center;
  }

  .username {
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
  }

  .countdown {
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;

    & * {
      width: 50px;
    }
  }

  .Link.xsmall {
    color: grey;
  }

  .ButtonV2 {
    font-size: 30px;
    margin-left: 10px;
  }
}
