.HallOfFame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  table, th, td {
    border:1px solid black;
    border-collapse: collapse;

    th, td {
      padding: 20px;
    }
  }
}