@import '../../assets/stylesheets/base/variables.scss';

.Link {
  &:not(.unstyled) {
    font-weight: 600;
    color: $vibrant-blue;

    &.large {
      font-size: 18px;
      line-height: 32px;
    }

    @media (min-width: 769px) {
      &.large {
        font-size: 24px;
        line-height: 38px;
      }
    }

    &.medium {
      font-size: 16px;
      line-height: 28px;
    }

    @media (min-width: 769px) {
      &.medium {
        font-size: 18px;
        line-height: 34px;
      }
    }

    &.small{
      font-size: 14px;
      line-height: 26px;
    }

    @media (min-width: 769px) {
      &.small {
        font-size: 16px;
        line-height: 28px;
      }
    }

    &.xsmall{
      font-size: 13px;
      line-height: 22px;
    }

    @media (min-width: 769px) {
      &.xsmall {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}
