.Home {
  display: flex;
  width: 100%;

  h1 {
    margin: 5px;
  }


  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    
    &.left {
      margin-left: 10px;
    }

    .Input {
      width: auto;
    }
  }

  .Form {
    width: 80%;
    input {
      height: 30px;
    }
  }
}