@import '../../../assets/stylesheets/base/variables.scss';

.Home {
  display: flex;
  width: 100%;
  height: 100%;

  h1 {
    margin: 5px;
  }


  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    
    &.left {
      margin-left: 10px;
      margin-top: 10px;

      img {
        width: 90%;
      }

      .suggestions {
        width: 90%;
      }

      .languages {
        margin-top: 15px;

        span {
          font-size: 40px;
          cursor: pointer;

          &.selected {
            border: 2px solid $primary-color;
            cursor: unset;
          }
        }

        :not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    &.right {
      border-left: 1px solid black;
      justify-content: space-around;
    }

    .Input {
      width: 80%;

      &:not(:last-child) {
        margin-top: 5px;
      }
    }
  }

  .Form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input {
      height: 30px;
    }
  }
}