.CrystalCrypts {
  overflow: auto;

  .map {
    position: relative;
    background-image: url('../../images/mine.jpeg');
    width: 1920px;
    height: 863px;
    background-size: 1920px 863px;
  }

  .Grid {
    .container {
      display: flex;

      .column {
        flex-basis: 33%;

        .ghost-fan {
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;

          img {
            width: 100px;
            animation: up-down 1s linear infinite;
          }

          @keyframes up-down {
            0%, 100% {
              width: 100px;
            }
            50% {
              width: 110px;
            }
          }
        }

        .commands {
          display: flex;
          height: 100%;
          flex-direction: column;
          justify-content: center;
        }

        .arrows {
          margin-left: 20px;
          display: flex;
          flex-direction: column;
        }
      }
    }

    .board {
      height: calc(100vh - 50px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .row {
        display: flex;
        .cell {
          cursor: pointer;
          width: 50px;
          height: 50px;
          padding: 5px;
          border: 1px solid black;
          display: flex;
          justify-content: center;
          align-items: center;

          &.hidden {
            background-color: white;
            color: white;
            border: none;
          }

          &.visited {
            background-color: royalblue;
            cursor: default;
            color: white;
          }

          &.exit {
            background-color: goldenrod;
            cursor: default;
          }

          &.bomb {
            background-color: black;
            cursor: default;
            color: white;
          }

          i {
            font-size: 20px;
          }

          img {
            width: 50px;
          }
        }
      }
    }
  }
}