.BagPage {
  display: flex;
  height: 100vh;
  
  header {
    height: 50px;
    border-bottom: solid 1px #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    font-size: 20px;
    margin-right: -1px;
    i {
      display: block;
    }
  }

  iframe {
    flex-grow: 1;
    min-height: 100vh;
    border: none;
  }

  .selectedItem {
    flex-grow: 1;

    header {
      height: 50px;
      border-bottom: solid 1px #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1em;
      font-size: 20px;
      margin-right: -1px;
      i {
        display: block;
      }
    }

    .content {
      display: flex;
      justify-content: center;
      padding: 10px;
    }
  }

  .BagItemList {
    max-height: 100%;
  }

  @media(min-width: 768px) {
    .list {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      max-width: 350px;

      header {
        border-right: solid 1px #ccc;
        display: flex;
        justify-content: center;
      }

      .BagItemList {
        height: calc(100vh - 50px);
        margin-right: -1px;
        border-right: solid 1px #ccc;
      }
    }

  }

  @media(max-width: 768px) {
    flex-direction: column;

    .BagItemList {
      border-bottom: solid 1px #ccc;
    }
  }
}
